<app-navbar></app-navbar>

<div class="container">
    <div class="row">
        <div class="col col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xxl-12">

<div id="carouselExampleSlidesOnly" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-inner">
      <div class="carousel-item active">
        <img src="https://static.toiimg.com/photo/89946526.cms" class="d-block w-100" alt="...">
      </div>
      <div class="carousel-item">
        <img src="https://www.holidify.com/images/cmsuploads/compressed/indian-1768906_1920_20180322173733.jpg" class="d-block w-100" alt="...">
      </div>
      <div class="carousel-item">
        <img src="https://static.toiimg.com/photo/76179976.cms" class="d-block w-100" alt="...">
      </div>
    </div>
  </div>

        </div>
    </div>
</div>
